.form-add-product-body {
       background-color: white;
       width: 60em;
       padding: 20px;
       border-radius: 20px;
}
hr {
       display: block;
       height: 1px;
       border: 0;
       border-top: 2px solid #b9b9b9;
       margin: 1em 0;
       padding: 0;
}
.save-btn {
       float: right;
       width: 120px;
       margin-right: -8px;
       background: white !important;
       border: 1px solid #0191cd !important;
       color: #0191cd !important;
}
.cancel-btn {
       width: 120px;
       margin-left: -10px;
       background: #0191cd !important;
       border: white;
       color: white;
}
.add-product-card-footer {
       margin-top: 20px;
       width: 100%;
}
button.button-add-product {
       background: white !important;
       border: 1px solid #0191cd !important;
       color: #0191cd !important;
}
.assign-ingredient {
       background: white !important;
       border: 1px solid #0191cd !important;
       color: #0191cd !important;
}
.assign-ingredient,
.view-product-ingredient {
       width: 100%;
       text-transform: capitalize;
}

/* dzadzadza */

.bestseller:before {
       content: '';
       z-index: -1;
       overflow: hidden;
       transform: rotate(-135deg);
       width: 120px;
       display: block;
       background: #79a70a;
       background: linear-gradient(#9bc90d 0%, #79a70a 100%);
       box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
       position: absolute;
       top: 34px;
       right: 47px;
       clip-path: polygon(120px 20px, 90px -10px, 30px -10px, 0px 20px, 10px 30px, 110px 30px);
       height: 20px;
       width: 120px;
}
.bestseller:after {
       content: 'unavailable';
       z-index: 1;
       overflow: hidden;
       font-size: 10px;
       font-weight: bold;
       color: #fff;
       text-transform: uppercase;
       text-align: center;
       line-height: 20px;
       transform: rotate(45deg);
       width: 120px;
       display: block;
       background: red !important;
       background: linear-gradient(#9bc90d 0%, #79a70a 100%);
       box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
       position: absolute;
       top: 20px;
       right: 32px;
       clip-path: polygon(120px 20px, 90px -10px, 30px -10px, 0px 20px, 10px 30px, 110px 30px);
}
