.filial-register-body .form-container {
  padding: 18px;
  margin-top: 10px;
}
.filial-register-body .form-card {
  width: auto;
}
.filial-register-body .form-card .MuiOutlinedInput-root {
  position: relative;
  border-radius: 4px;
  width: 120%;
}
.filial-register-body .form-card .card-footer:last-child {
  background: unset;
}
.filial-register-body .form-card .save-btn {
  float: right;
  width: 120px;
  margin-right: -25px;
  background: white !important;
  border: 1px solid #0191cd;
  color: #0191cd;
}
.filial-register-body .form-card .cancel-btn {
  width: 120px;
  margin-left: -22px;
  background: #0191cd !important;
  border: white;
  color: white;
}

label#upload-image-filial {
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 10px 20px 20px 20px solid transparent;
  font-size: 0.875rem;
  line-height: 1.5;
  background: #31aa01;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s, 0s;
  padding: unset;
  margin-left: 15px;
  width: 400px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

label#upload-image-filial:hover {
  color: white;
  border-color: rgb(75, 243, 110);
  background: #3dd800;
  box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.preview-card {
  padding: 10px;
}
.preview-card img {
  height: 18em;
  width: 35em;
  margin-left: -19px;
  border-radius: 10px;
  box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.preview-card .card-footer:last-child {
  background: white;
}
#AddNewFilialBtnContainer {
  float: right;
  width: 100%;
}
#AddNewFilialBtnContainer Button {
  float: right;
}
#FilialCard {
  border-radius: 35px;
}
