.MuiButton-outlinedPrimary {
  color: #2191cc !important;
  border: 1px solid #2191cc !important;
  margin-bottom: 10px !important;
}
.makeStyles-noMaxWidth-142 {
  max-width: none;
  font-size: 14px;
}
.bold-actions {
  font-weight: bold;
}
.unactivate {
  color: red;
}

.active_tag {
  background-color: #2ec52e !important;
  color: white !important;
  min-width: 98px;
}

.unactive_tag {
  background-color: red !important;
  color: white !important;
  min-width: 98px;
}
.MuiBackdrop-root {
  background-color: rgb(0 0 0 / 5%) !important;
}
#seeProductsIngredients {
  background-color: #2191cc;
  padding: 5px 45px;
  color: white;
  border-radius: 25px;
  border-color: #2191cc;
}
#AddNewIngredientBtnContainer {
  float: right;
  width: 100%;
  margin-bottom: 50px;
}
#AddNewIngredientBtnContainer Button {
  float: right;
}
#ingredientImg {
  width: 50px;
}
