body,
html {
  text-transform: capitalize;
}
.save-button button.btn.btn-secondary {
  float: right;
  color: #0191cd;
  background-color: white !important;
  border: 1px solid #0191cd;
  width: 150px;
  border-radius: 5px;
}
.cancel-button button.btn.btn-secondary {
  float: left;
  color: white;
  width: 150px;
  border-radius: 5px;
  background: #0191cd !important;
}
.modal-footer {
  display: block;
}

.add-category-btn {
  /* position: absolute; */
  right: 0;
  margin-right: 35px;
  border-radius: 0.25rem;
}
.add-category-btn button {
  /* background: #ea6a12b3 !important; */
  color: white;
  text-transform: capitalize;
  width: 14em;
  border-radius: 0.25rem;
}
label#upload-image-filial:hover {
  color: white;
  border-color: #ea6a12b3;
  background: #ea6a12b3;
  box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.add-category {
  float: right;
  /* background-color: #ea6a12b3 !important; */
  color: white;
}
label#upload-image-filial {
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 10px 20px 20px 20px solid transparent;
  font-size: 0.875rem;
  line-height: 1.5;
  background: #31aa01;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s, 0s;
  padding: unset;
  margin-left: 15px;
  width: 400px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.save-btn {
  float: right;
  width: 120px;
  margin-right: -8px;
  background: white !important;
  border: 1px solid #0191cd !important;
  color: #0191cd !important;
}
.cancel-btn {
  width: 120px;
  margin-left: -10px;
  background: #0191cd !important;
  border: white;
  color: white;
}
.container-fluid {
  margin-bottom: 22px;
}
.tab-body {
  min-height: 38em;
  background: #f5ebdc;
}
.tab-body .category-tab {
  background: #f5ebdc;
}

.image-category img {
  width: 12em;
  height: 12em;
  border: 1px solid #f86c6b;
  border-radius: 10px;
  margin-left: 1.5em;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  border-radius: 100em;
  margin: 1em 0;
  padding: 0;
}

/* .add-category-text{
     
} */
.add-category-icon {
  margin-left: -12px;
}
.add-Product-icon {
  margin-left: -12px;
}
.add-Product-modal .modal-content {
  margin-left: -10em;
  width: 61em;
  border-radius: 10px;
  padding: 10px;
}
.makeStyles-root-35 {
  width: 100%;
  flex-grow: 1;
  background-color: #f0f0fa !important;
}

.MuiAppBar-colorPrimary {
  color: #ff2828 !important;
  background-color: #ffffff !important;
  /* width: 96%; */
  margin-left: 20px;
  width: 109.9em;
}
.makeStyles-root-25,
.makeStyles-root-448 {
  background-color: #f0f0fa !important;
}
#CardsCategoriesMenusTabBar {
  display: none;
}
body,
.parent-sous-tab {
  background: #f5ebdc !important;
}
.MuiTab-textColorPrimary.Mui-selected {
  color: #ea6a12 !important;
}
.MuiTabs-indicator {
  background-color: #ea6a12 !important;
}
.MuiCardHeader-avatar {
  display: none;
}
.MuiTypography-root.MuiCardHeader-title.MuiTypography-body2.MuiTypography-displayBlock {
  color: #502314;
  font-family: Flame;
  margin: 0;
  text-transform: none;
  font-weight: 700 !important;
  font-size: 1.55rem !important;
  line-height: 2rem !important;
  text-align: center;
}
.MuiCardMedia-root {
  background-size: contain !important;
}
.MuiCardContent-root {
  text-align: center;
}
#CardsCategoryMenu header {
  width: 77%;
  text-align: center;
  align-items: center;
  margin-left: 11%;
}
.MuiTabs-flexContainer button {
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 10px;
  padding-top: 100px !important;
}
#CardsAddProductBtnsContainer {
  margin-bottom: 120px;
}
.MuiAppBar-colorDefault {
  background-color: white !important;
}
#productCardBottomInfo {
  display: flex;
}
#productCardAvailabilityGreen {
  margin-left: 45%;
}
#productCardAvailabilityRed {
  margin-left: 25%;
}
.col-4 {
  max-width: 25% !important;
}
#CartesCard {
  border-radius: 35px;
}
#CartesCard:hover {
  cursor: pointer;
}
#AddNewCardBtnContainer {
  float: right;
  width: 100%;
  margin-bottom: 50px;
}
#AddNewCardBtnContainer Button {
  float: right;
}
#AddExistingProductBtn {
}
#AddProductsInCategoryBtnsContainer {
  display: flex;
}
